<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h3>WELCOME TO DATA PAGE</h3>
<table border="1">
	<tr>
		<th>ID</th>
		<th>NAME</th>
		<th>SAL</th>
		<th>DEPT</th>
		<th>OPERATION</th>
	</tr>
	<tr th:each="ob:${list}">
		<td th:text="${ob.empId}"></td>
		<td th:text="${ob.empName}"></td>
		<td th:text="${ob.empSal}"></td>
		<td th:text="${ob.empDept}"></td>
		<td>
			<a th:href="@{/employee/delete?id={eid}(eid=${ob.empId})}">DELETE</a> |
			<a th:href="@{/employee/edit?id={eid}(eid=${ob.empId})}">EDIT</a>
		</td>
	</tr>
</table>
<span th:text="${message}"></span>
</body>
</html>




